*{
     padding: 0;
     margin: 0;

font-family: 'Roboto' , sans-serif ;  
   } 
    
  .banner{
       width: 100%;
       height: 100vh;
       background-color: linear-gradient(120deg ,rgba(103,58,183,0.5), 
       rgba(103,58,183,0.5)) url(images/banner.jpg); 
       background-size: cover; 
       background-position: center;

   }